body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div, label {
    color: white;
}

.form-grid label {
    margin-top: 0;
    font-size: 24px;
    text-align: right;
}

form{
    display: flex;
    flex-direction: column;
    border: 2px solid #224722;
    padding: 20px;
    border-radius: 10px;
    background-color: #111;
    width: auto;
}

.form-footer {
    margin-top: 16px;
    font-size: 14px;
    text-align: center;
}

.form-footer a {
    margin-left: 4px;
    color: #224722;
    text-decoration: underline;
}

.form-footer a:hover {
    color: #1F3D1F;
}

.form-footer a:active {
    color: #112411;
}


button{
    background-color: #224722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    align-self: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 150px auto;
    row-gap: 10px;
    column-gap: 15px;
    align-items: center;
}



label {
    margin-top: 0;
    font-size: 24px;
    text-align: right;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #aaa;
    font-size: 16px;
    background: #222;
    color: white;
}
