body{
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textPrimary);
}

p, a, li, span, div {
    color: var(--textSecondary);
}

nav{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 24px;
    background-color: var(--backgroundSecondary);
    border-radius: 8px;
    align-items: stretch;
}

nav form {
    margin-left: auto;
}

nav a{
    text-decoration: none;
    font-size: inherit;
    padding-top: auto;
    padding-bottom: auto;

}

nav a:hover{
    color: var(--accentHover);
}

nav a:active{
    color: var(--accentActive);
}

#logout-button {
    padding-top: auto;
    padding-bottom: auto;
    color: var(--textSecondary);
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    float: right;
    line-height: inherit;
}

#logout-button:hover {
    color: var(--accentHover);
}

#logout-button:active {
    color: var(--accentActive);
}