html{
    height: 100%;
    margin: 0;
    width: 100%;

}

body{
    margin: 0;
    min-height: 100%;
}

main{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.info-section {
    background-color: var(--backgroundSecondary);
    width: 20%;
    padding: 20px;
}

.main-section {
    background: linear-gradient(135deg, var(--background), #3a7cb6);
    min-height: 100vh;
    width: 80%;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--textPrimary);
}

p, a, li, span, div {
    color: var(--textSecondary);
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div, label {
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 30px;
    font-size: 24px;
    background-color: var(--backgroundSecondary);
    align-items: stretch;
}

nav form {
    margin-left: auto;
}

nav a{
    text-decoration: none;
    font-size: inherit;
    padding-top: auto;
    padding-bottom: auto;

}

nav a:hover{
    color: var(--accentHover);
}

nav a:active{
    color: var(--accentActive);
}

#logout-button {
    padding-top: auto;
    padding-bottom: auto;
    color: var(--textSecondary);
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    float: right;
    line-height: inherit;
}

#logout-button:hover {
    color: var(--accentHover);
}

#logout-button:active {
    color: var(--accentActive);
}

.modal-button {
    background-color: var(--accent);
    color: var(--buttonText);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    max-width: 80px;
    max-height: 30px;
}

button:hover {
    background-color: var(--accentHover);
}

button:active {
    background-color: var(--accentActive);
}

.modal-input{
    padding: 8px;
    border-radius: 6px;
    background-color: var(--backgroundSecondary);
    border: 1px solid var(--opposite);
    color: var(--textPrimary);
}

.stocks-right {
  justify-self: right;
}

.stocks-left {
  justify-self: left;
}
