html, body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
}

.left, .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.left {
  background: linear-gradient(135deg, #01223D, #2F7FBA);
}

#slogan {
    font-size: 80px;
    
}

.right {
    padding: 30px;
    background: #011424;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1{
    font-size: 50px;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, div, label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

button{
    background-color: #111e57;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 40px;
    align-self: center;
    width: 65%;
    height: 40px;
}


.input-row input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #4b4b4b;
    font-size: 16px;
    background: #011424;
    color: white;
    width: 100%;
    height: 30px;
}

.input-row{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.input-row label {
    color: #a0a0a0;
    margin-top: 16px;
    margin-bottom: 10px;
}

.form-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

a{
    width: 45%;
    background-color: rgb(238, 236, 236);
    color: black;
    text-decoration: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(83, 87, 104);
    font-size: 16px;
    opacity: 60%;
}
